<?xml version="1.0" encoding="utf-8"?>
<!-- IIS: multipart gövde üst sınırı (hakkımızda toplu görsel vb.). AboutImageProcessing.MaxMultipartRequestBytes ile uyumlu (80 MB). -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\LynarQR.exe" arguments=".\LynarQR.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="OutOfProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="83886080" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: C128DDA7-BA21-29A1-B7D9-B92959001307-->